@model List<Zela.ViewModels.MessageViewModel>
<div class="chat-content">
    @foreach (var msg in Model)
    {
        <div class="message @(msg.IsMine ? "right" : "left")">
            <img src="@msg.AvatarUrl" class="message-avatar"/>
            <span class="message-bubble">
            @msg.Content
        </span>
            <span class="message-time">
            @msg.SentAt.ToString("HH:mm")
        </span>
        </div>
    }
</div>