/*=======================================================================================*/
/*                                  6. SCROLLBAR STYLES                                 */
/*=======================================================================================*/

.friend-list::-webkit-scrollbar,
.chat-content::-webkit-scrollbar,
.chat-info-panel::-webkit-scrollbar,
.features::-webkit-scrollbar {
    width: 8px;
}

.friend-list::-webkit-scrollbar-track,
.chat-content::-webkit-scrollbar-track,
.chat-info-panel::-webkit-scrollbar-track,
.features::-webkit-scrollbar-track {
    background: transparent;
}

.friend-list::-webkit-scrollbar-thumb,
.chat-content::-webkit-scrollbar-thumb,
.chat-info-panel::-webkit-scrollbar-thumb,
.features::-webkit-scrollbar-thumb {
    background-color: var(--theme-accent-sky-blue);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.friend-list::-webkit-scrollbar-thumb:hover,
.chat-content::-webkit-scrollbar-thumb:hover,
.chat-info-panel::-webkit-scrollbar-thumb:hover,
.features::-webkit-scrollbar-thumb:hover{
    background-color: var(--theme-accent-green);
} 